<!-- Caixa com fundo branco -->
<div class="box-header well">
  <%= render 'form' %>
</div>

<!-- Botão para voltar a tela aluno aluno -->
<%= link_to 'Mostrar', @turma, :class => 'btn' %>
<%= link_to 'Voltar', turmas_path, :class => 'btn' %>