<!-- Caixa com fundo branco -->
<div class="box-header well">
  <%= render 'form' %>
</div>

<!-- Botão para voltar a tela aluno aluno -->
<%= link_to 'Mostrar', @prova, :class => 'btn' %>
<%= link_to 'Voltar', provas_path, :class => 'btn' %>

<!-- destaca botão/menu fixo  -->
<script>
    menu = "#provas"
</script>