<!-- Caixa com fundo branco -->
<div class="box-header well">
  <%= render 'form' %>
</div>

<br />

<!-- Botão voltar -->
<%= link_to 'Voltar', alunos_path, :class => 'btn' %>

<!-- destaca botão/menu fixo  -->
<script>
    menu = "#matriculas"
</script>