<!-- Caixa com fundo branco -->
<div class="box-header well">
  <%= render 'form' %>
</div>

<!-- Botão para voltar a tela aluno aluno -->
<%= link_to 'Mostrar', @turma_materia, :class => 'btn' %>
<%= link_to 'Voltar', turma_materias_path, :class => 'btn' %>

<!-- destaca botão/menu fixo  -->
<script>
    menu = "#turmas"
</script>
