<!-- Caixa com fundo branco -->
<div class="box-header well">

  <!-- Legenda -->
  <legend>Turma e matéria</legend>

<p>
  <strong>Turma:</strong>
  <%= @turma_materia.turma.nome %>
</p>

<p>
  <strong>Materia:</strong>
  <%= @turma_materia.materia.nome %>
</p>


</div>

<!-- Botão voltar -->
<%= link_to 'Editar', edit_turma_materia_path, :class => 'btn' %>
<%= link_to 'Voltar', turma_materias_path, :class => 'btn' %>

<!-- destaca botão/menu fixo  -->
<script>
    menu = "#turmas"
</script>